@import url(./../abstract/colors.css);
@import url(./../abstract/transitions.css);

.header {

}



.header__banner {
  margin-block-end: 1.5rem;
}

.header__container {
  display: flex;
  padding: 1rem 0 0 0;

  flex-flow: column wrap;
}

.header__title {
  font-size: 3.75rem;
  font-weight: 800;

  flex: 1 0 50%;
}

.header__container-inner {
  display: flex;
  flex-flow: column wrap;
}

.header__content {
  padding-block: 0 ;
  line-height: 1.5rem;
}

.header__button {
  all: unset;
  background-color: var(--red);

  color: var(--white);

  text-align: center;

  padding-block: 1.1rem;

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .25rem;
  margin-block-start: auto;
  width: 12.25rem;

  transition: var(--transition-reg) background-color;
}

.header__button:hover  {
  background-color: var(--very-dark-blue);
  cursor: pointer;
}

@media (min-width: 768px) {
  .header {
    flex: 0 1 1380px;
  }

  .header__container {
    flex-flow: row wrap;
  }

  .header__container-inner {
    padding-inline: 1rem;
  }
}