@import url(./../abstract/colors.css);
@import url(./../abstract/transitions.css);

.navigation {
  display: flex;
  width: 100%;

  margin-block-end: 3.5rem;
}

.navigation__logo {
  width: fit-content;
}

.navigation__nav {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  
  gap: 2.65rem;
  margin-inline-start: auto;
  width: fit-content;
}

.navigation__nav li {
  transition: var(--transition-reg) color;
}
.navigation__nav li:hover {
  color: var(--red);

  cursor: pointer;
}